@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg{
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,0.1)), url("https://res.cloudinary.com/dnv7bjvth/image/upload/v1736841888/892ddbe9-a03d-4ff9-9c2a-c2915a2851e6.png");
}

.approve-bg{
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,0.1)), url("https://alea.tok-md.com/argazkiak/UJE/netflix-image.jpg");
}
::-webkit-scrollbar {
    display: none;
  }

.gradient-bg-hero{
    background-color: #151c25;
    background-image: radial-gradient(
        at 0% 0%,
        hsl(302deg 25% 18%) 0,
        transparent 50%
    ),
    radial-gradient(
        at 50% 0%,hsl(0deg 39% 30%) 0,transparent 50%
    ),
    radial-gradient(
        at 100% 0%,hsla(339, 49%, 30%,1) 0,transparent 50%
    );
}

.text-gradient{
    background: -webkit-linear-gradient(#eee,#333) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-bg-artworks{
    background-color: #0f0e13;
    background-image: radial-gradient(
        at 50% 50%,
        hsl(302deg 25% 18%) 0,
        transparent 50%
    ),
    radial-gradient(
        at 0% 0%,
        hsla(253, 16% ,7%,1) 0,
        transparent 50%)
    radial-gradient(
        at 50% 50%,
        hsla(339, 39%, 25%,1) 0,
        transparent 50%
    )
}